<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Common Manager</title>
    <link rel="stylesheet" href="./vendor/font-awesome-5.8.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="./vendor/iconic/css/material-design-iconic-font.min.css">
    <script src="./libs/httpVueLoader.js"></script>
    <script src="./libs/d3.v4.min.js"></script>
    <script src="./libs/techan.min.js"></script>
</head>

<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>

</html>
