<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>
  <system.web>
    <httpModules>
      <remove name="WindowsAuthentication" />
    </httpModules>
    <compilation debug="false" targetFramework="4.5" />
    <deployment retail="true"/>
    <trace enabled="false" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000000" />
    </connectionManagement>
  </system.net>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept"/>
        <add name="Access-Control-Allow-Methods" value="POST,GET,PUT,OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
